{% extends 'base/base.html' %}
{% block content %}
{% load static %}

    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center" style="background-image: url({% static 'img/banner/banner.jpg' %});">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">Добро пожаловать на единую площадку </h5>
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">ИТ-сообщества</h5>
                            <p></p>
                            <p align="justify" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s" class="justify">
                                Simple Voting

Приветствуем вас на странице Simple Voting! Здесь вы можете выразить своё мнение по различным вопросам и принять участие в голосовании.

Что такое Simple Voting?

Simple Voting — это платформа, где каждый может высказать своё мнение и повлиять на результаты голосования. Мы предлагаем вам простые и понятные вопросы, на которые можно ответить «да» или «нет».

Как это работает?

Выберите интересующий вас вопрос из списка.
Проголосуйте за один из вариантов ответа.
Посмотрите результаты голосования и узнайте, какое мнение преобладает.
Поделитесь результатами с друзьями и знакомыми.
Мы стремимся сделать процесс голосования простым и удобным для всех. Присоединяйтесь к нам и выражайте своё мнение!

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="img/banner/illustration.png" alt="">
        </div>-->
    </div>

<div class="col-6 text-center">
    <img src="{% static 'img/images.jpg' %}" width="200px">
</div>

    <div class="whole-wrap">
		<div class="container box_1170">
            <div class="section-top-border">
                <h3 class="mb-30"></h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-defination">
                            <h4 class="mb-20">Пользователей в системе</h4>
                            <p class="p-style">{{count_all}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-defination">
                            <h4 class="mb-20">Студентов</h4>
                            <p class="p-style">{{count_student}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-defination">
                            <h4 class="mb-20">Преподавателей</h4>
                            <p class="p-style">{{count_mentor}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
    <!-- slider_area_start -->

    <!-- slider_area_end -->

    <!-- featured_candidates_area_start  -->
{% if news %}
    <div class="featured_candidates_area pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-40">
                        <h3>Новости</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="candidate_active owl-carousel">
                        {% for article in news %}
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                {% if article.img_url %}
                                <img src="{{article.img_url}}" alt="">
                                {% else %}
                                <img src="{% static 'img/article/1.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <a href="/news/{{article.id}}"><h4>{{article.title}}</h4></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
